<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>


  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="#Hosts">All Hosts</a></li>
            <li><a href="https://redmine.hostcomm.ru">Redmine</a></li>
            <li><a href="https://msk.otrs.hostcomm.ru">OTRS</a></li>
             <li><a href="https://wiki.corp.hostcomm.ru">Wiki</a></li>
            <li><a href="https://morkovka.lgg.ru">Морковка</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




    <h2 class="sub-header">New alerts</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Host</th>
                  <th>Service</th>
                  <th>Time</th>
                  <th>Power buttons</th>
                  <th>Status-message</th>
                </tr>
              </thead>


              <tbody>
                <tr style="background-color:#F51414">
                  <td>fe110</td>
                  <td>http</td>
                  <td>11.11</td>
                  <td><div class="btn-group" role="group" aria-label="Power Buttons!!!">
                    <button type="button" class="btn btn-default">Info</button>
                    <button type="button" class="btn btn-default">Ack</button>
                    <button type="button" class="btn btn-default">Mail</button>
                    <button type="button" class="btn btn-default">Call</button>
</div></td>
                  <td>всё пропало всё пропало всё пропало всё пропало</td>
                </tr>

              <tr style="background-color:#F51414">
                  <td></td>
                  <td>http</td>
                  <td>11.11</td>
                  <td><div class="btn-group" role="group" aria-label="Power Buttons!!!">
                    <button type="button" class="btn btn-default">Info</button>
                    <button type="button" class="btn btn-default">Ack</button>
                    <button type="button" class="btn btn-default">Mail</button>
                    <button type="button" class="btn btn-default">Call</button>
</div></td>
                  <td>всё пропало всё пропало всё пропало всё пропало</td>
                </tr>
                <tr style="background-color:#F51414">
                  <td></td>
                  <td>http</td>
                  <td>11.11</td>
                  <td><div class="btn-group" role="group" aria-label="Power Buttons!!!">
                    <button type="button" class="btn btn-default">Info</button>
                    <button type="button" class="btn btn-default">Ack</button>
                    <button type="button" class="btn btn-default">Mail</button>
                    <button type="button" class="btn btn-default">Call</button>
</div></td>                  <td>всё пропало всё пропало всё пропало всё пропало</td>
                </tr>
     <tr style="background-color:#F5EC14">
                  <td>самый.охуенноважный.вмире.хост</td>
                  <td>http</td>
                  <td>11.11</td>
                  <td><div class="btn-group" role="group" aria-label="Power Buttons!!!">
                    <button type="button" class="btn btn-default">Info</button>
                    <button type="button" class="btn btn-default">Ack</button>
                    <button type="button" class="btn btn-default">Mail</button>
                    <button type="button" class="btn btn-default">Call</button>
</div></td>
                  <td>если тут что-то не влезет по ширине, то форматирование кнопок идет по пизде</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

